*{
    box-sizing: border-box;
}
body{
   background-image: url(./images/bg-intro-mobile.png);
   background-color:hsl(0, 100%, 74%)  ;
   color: white;
 text-align: center;

}

html,body{
    height:100vh;
}

dd{
    margin: 0;

}

h1{
   font-size:xx-large;
margin-top:25%;
  
}

p{
   
    line-height:1.5;
    width: 80%;
    margin:0;
   margin:0 auto;
   margin-top: 15px;
   margin-bottom: 50px;
}
div{
    background-color:hsl(248, 32%, 49%);
    width:85%;
    margin:0 auto;
    margin-bottom: 20px;
    padding:2%;
    border-radius: 10px;
  box-shadow:5px  5px 5px rgba(49, 49, 49, 0.582);
}

.btn{
    background-color:hsl(154, 59%, 51%);
    
}
.finePrint{
    color:hsl(246, 25%, 77%);
}

form{
    background-color:white;
}